<form>
  <fieldset>
    <legend>Create category</legend>
    <p>
      <label for="parent">Parent category</label>
      <select id="parent" ng-model="category.category.parentCategory">
        <option value="">Select</option>
        <option ng-value="cat._id"
          ng-repeat="cat in category.categories"
          ng-selected="cat._id == category.category.parentCategory ">
          {{ cat.title }}
        </option>
      </select>
    </p>
    <p>
      <label for="title">Title</label>
      <input type="text" id="title" ng-model="category.category.title">
    </p>
    <p>
      <label for="desc">Description</label>
      <textarea type="text" id="desc" ng-model="category.category.description"></textarea>
    </p>
  </fieldset>
</form>
