<form>
  <fieldset>
    <legend>Product details</legend>
    <p>
      <label for="title">Product title</label>
      <input type="text" id="title" ng-model="product.product.title" />
    </p>
    <p>
      <label for="summary">Product summary</label>
      <input type="text" id="summary" ng-model="product.product.summary" />
    </p>
    <p>
      <label for="desc">Product description</label>
      <textarea type="text" id="desc" ng-model="product.product.description"></textarea>
    </p>
  </fieldset>
  <fieldset>
    <legend>Categorisation</legend>
    <p>
      <label for="category">Category</label>
      <select id="category" ng-model="product.product.category">
        <option value="">Select</option>
        <option ng-value="cat._id"
          ng-repeat="cat in product.categories"
          ng-selected="cat._id == product.product.category ">
          {{ cat.title }}
        </option>
      </select>
    </p>
    <p>
      <label for="brand">Brand</label>
      <select id="brand" ng-model="product.product.brand"></select>
    </p>
  </fieldset>
  <fieldset>
    <legend>Inventory management</legend>
    <p>
      <label for="sku">SKU</label>
      <input type="text" id="sku" ng-model="product.product.sku" />
    </p>
    <p>
      <label for="price">Price</label>
      <input type="text" id="price" ng-model="product.product.price" />
    </p>
    <p>
      <label for="Sale-price">Sale price</label>
      <input type="text" id="sale-price" ng-model="product.product.salePrice" />
    </p>
    <p>
      <label for="stock-level">Stock level</label>
      <input type="text" id="stock-level" ng-model="product.product.stockLevel" />
    </p>
    <p>
      <label for="stock-status">Stock status</label>
      <input type="text" id="stock-status" ng-model="product.product.stockStatus" />
    </p>
  </fieldset>
  <fieldset>
    <legend>Shipping information</legend>
    <p>
      <label for="weight">Weight</label>
      <input type="text" id="weight" ng-model="product.product.weight" />
    </p>
    <p>
      <label for="width">Width</label>
      <input type="text" id="width" ng-model="product.product.width" />
    </p>
    <p>
      <label for="height">Height</label>
      <input type="text" id="height" ng-model="product.product.height" />
    </p>
    <p>
      <label for="depth">Depth</label>
      <input type="text" id="depth" ng-model="product.product.depth" />
    </p>
  </fieldset>
</form>
