@import "variables.sass"

body
  background-color: $btn-fill-color


.card-deck
  margin: 0 auto
  width: 60%

  .card-title
    margin: 1rem auto
    padding: 3rem
    width: 100%
    box-sizing: border-box
    background: #fff
    box-shadow: 2px 2px 5px #676767
    input
      width: 100%
      height: 100%
      border: none
      outline: none
      color: $txt-color
  .card-question
    float: left
    padding-bottom: 33.334%
    width: 33.334%
    text-align: center
    background-color: red
