@import "variables.sass"

body
  background-color: $btn-fill-color


.card-deck
  margin: 0 auto
  width: 60%
  max-width: 55rem

  .card-title
    margin: 1rem auto
    padding: 3rem
    width: 100%
    box-sizing: border-box
    background: #fff
    box-shadow: 2px 2px 5px #676767
    input
      width: 100%
      height: 100%
      border: none
      outline: none
      color: $txt-color
  .card-question
    float: left
    margin: 0.5rem 0
    padding: 3rem
    width: 100%
    box-sizing: border-box
    background-color: #fff
    box-shadow: 2px 2px 5px #676767
    text-align: center
    .question
      margin-bottom: 2rem
      width: 100%
      border: none
      outline: none
      color: $txt-color
    .option
      padding: 1rem 0
      width: 100%
      box-sizing: border-box
      overflow: hidden
      input[type=checkbox]
        float: left
        width: 10%
      input[type=text]
        float: left
        width: 70%
        border: none
        outline: none
      button
        float: left
        width: 20%
