$light: 100
$regular: 400
$bold: 600

$bg-color: #ff643C
$bg-color-light: #fb7350
$bg-color-dark: #ea5f3a
$accent-color: #fff

$btn-fill-color: $bg-color
$btn-border-color: $accent-color
$btn-text-color: $accent-color
$btn-text-size: 14px

$btn-hover-fill-color: $accent-color
$btn-hover-border-color: $accent-color
$btn-hover-text-color: $bg-color


$title-color: #ff977d
$txt-color: #fff
$link-color: #fff
