<h1>Create</h1>
<div>
  <input type="text" placeholder="Name" ng-model="create.name">
    <input type="text" placeholder="Image" ng-model="create.image">
</div>

<div class="card" ng-repeat="question in create.questions">
  <div class="col col-3 q-image">
    <img class="question" ng-src="{{question.image}}" alt="Image that has meaning to question">
  </div>
  <div class="col col-9">
    <!-- Question -->
    <div class="card-row">
      <input type="text" class="txt txt-default" placeholder="Question" ng-model="question.title">
    </div>
    <!-- Image -->
    <div class="card-row">
      <input type="text" class="txt txt-default" placeholder="Image url" ng-model="question.image">
    </div>
    <!-- Options -->
    <div class="card-row">
      <div ng-repeat="option in question.options">
        <input type="checkbox" ng-model="option.correct">
        <input type="text" class="txt txt-default" placeholder="Option" ng-model="option.text" ng-keydown="create.addOption(question, $event)" tab-to-next>
        <button ng-click="create.removeOption(question, $index)">Remove</button>
      </div>
    </div>
    <!-- Actions -->
    <div class="card-row">
      <button class="btn btn-success-outline" ng-click="create.addOption(question)">Add option</button>
      <button class="btn btn-success-outline" ng-click="create.removeQuestion($index)">Remove question</button>
    </div>
  </div>


</div>

<div>
  <button class="btn btn-primary-outline" ng-click="create.addQuestion()">Add question</button>
  <button class="btn btn-primary-outline" ng-click="create.saveQuiz()">Save quiz</button>
</div>
