
<img src="app/images/icons/fox.svg" alt="">
<div class="play-card">
  <h1>{{ play.quiz.name }}</h1>
  <p>{{ play.currentQuestion.title }}</p>
  <!--<img ng-src="play.question.image" ng-show="play.question.image">-->
  <div class="options">
    <div class="row" ng-repeat="option in play.currentQuestion.options" ng-if="$index % 2 == 0">
      <span class="btn btn-primary" ng-click="play.answerQuestion($index)">
        {{ play.currentQuestion.options[$index].text }}
      </span>
      <span class="btn btn-primary" ng-click="play.answerQuestion($index)">
        {{ play.currentQuestion.options[$index+1].text }}
      </span>
    </div>
  </div>
</div>
