<form>
  <fieldset>
    <legend>Create Brand</legend>
    <div>
      <input type="text" class="form-control" placeholder="Name" ng-model="brand.brand.name">
    </div>
    <div>
      <textarea type="text" class="form-control" placeholder="Description" ng-model="brand.brand.description"></textarea>
    </div>
  </fieldset>
</form>
<div ng-show="!brand.editMode">
  <button class="btn btn-success" ng-click="brand.create()">Save</button>
  <button class="btn btn-warning" ng-click="brand.cancel()">Reset</button>
</div>
<div ng-show="brand.editMode">
  <button class="btn btn-success" ng-click="brand.update(brand.brand)">Update</button>
  <button class="btn btn-warning" ng-click="brand.cancel()">Cancel</button>
</div>

<ul>
  <li ng-repeat="brnd in brand.brands">
    <div>
      <span>{{ brnd.name }}</span>
      <span>{{ brnd.description }}</span>
      <button class="btn btn-primary" ng-click="brand.edit(brnd._id)">Edit</button>
      <button class="btn btn-danger" ng-click="brand.delete(brnd._id)">Delete</button>
    </div>
  </li>
</ul>
