<form>
  <fieldset>
    <legend>Product details</legend>
    <div>
      <input type="text" class="form-control" placeholder="Name" ng-model="product.product.name">
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Summary" ng-model="product.product.summary">
    </div>
    <div>
      <textarea type="text" class="form-control" placeholder="Description" ng-model="product.product.description"></textarea>
    </div>
  </fieldset>
  <fieldset>
    <legend>Categorisation</legend>
    <p>
      <select class="form-control" ng-model="product.product.category">
        <option value="">Select Category</option>
        <option ng-value="cat._id"
          ng-repeat="cat in product.categories"
          ng-selected="cat._id == product.product.category">
          {{ cat.name }}
        </option>
      </select>
    </p>
    <p>
      <select class="form-control" ng-model="product.product.brand">
        <option value="">Select Brand</option>
        <option ng-value="brnd._id"
          ng-repeat="brnd in product.brands"
          ng-selected="brnd._id == product.product.brand ">
          {{ brnd.name }}
        </option>
      </select>
    </p>
  </fieldset>
  <fieldset>
    <legend>Inventory management</legend>
    <div>
      <input type="text" class="form-control" placeholder="SKU" ng-model="product.product.sku">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="price">SEK</span>
      <input type="text" class="form-control" placeholder="Price" aria-describedby="price" ng-model="product.product.price">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="sale-price">SEK</span>
      <input type="text" class="form-control" placeholder="Sale price" aria-describedby="sale-price" ng-model="product.product.salePrice">
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Stock level" ng-model="product.product.stockLevel">
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Stock status" ng-model="product.product.stockStatus">
    </div>
  </fieldset>
  <fieldset>
    <legend>Shipping information</legend>
    <div>
      <input type="text" class="form-control" placeholder="Weight" ng-model="product.product.weight" />
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Width" ng-model="product.product.width" />
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Height" ng-model="product.product.height" />
    </div>
    <div>
      <input type="text" class="form-control" placeholder="Depth" ng-model="product.product.depth" />
    </div>
  </fieldset>
</form>
<div ng-show="!product.editMode">
  <button class="btn btn-success" ng-click="product.create()">Save</button>
  <button class="btn btn-warning" ng-click="product.cancel()">Reset</button>
</div>
<div ng-show="product.editMode">
  <button class="btn btn-success" ng-click="product.update(product.product)">Update</button>
  <button class="btn btn-warning" ng-click="product.cancel()">Cancel</button>
</div>
<ul>
  <li ng-repeat="prod in product.products">
    <div>
      <span>{{ prod.name }}</span>
      <span>{{ prod.description }}</span>
      <button class="btn btn-primary" ng-click="product.edit(prod._id)">Edit</button>
      <button class="btn btn-danger" ng-click="product.delete(prod._id)">Delete</button>
    </div>
  </li>
</ul>
