/***************************************************************** Containers */
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-6 {
  width: 50%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-12 {
  width: 100%; }

.col {
  display: block;
  float: left;
  height: auto;
  box-sizing: border-box; }

/********************************************************************* Inputs */
.lbl {
  margin: 0;
  min-height: 20px;
  padding-left: 20px;
  font-weight: 400;
  cursor: pointer; }

input.txt {
  display: inline-block;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input.txt.txt-default {
  color: #2d2d2d;
  border-color: #9a9a9a;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  input.txt.txt-default:hover, input.txt.txt-default:focus {
    border-color: #737272; }

/******************************************************************** Buttons */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn:disabled, .btn.disabled {
  cursor: not-allowed;
  opacity: 0.65; }

/* Filled buttons */
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:hover:enabled {
    background-color: #ccc; }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }
  .btn-primary:hover:enabled {
    background-color: #2e6da4; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }
  .btn-success:hover:enabled {
    background-color: #4cae4c; }

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a; }
  .btn-danger:hover:enabled {
    background-color: #d43f3a; }

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236; }
  .btn-warning:hover:enabled {
    background-color: #eea236; }

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }
  .btn-info:hover:enabled {
    background-color: #46b8da; }

/* Outlined buttons */
.btn-default-outline {
  color: #ccc;
  background-color: transparent;
  background-image: none;
  border-color: #ccc; }
  .btn-default-outline:hover:enabled {
    color: #fff;
    background-color: #ccc; }

.btn-primary-outline {
  color: #337ab7;
  background-color: transparent;
  background-image: none;
  border-color: #337ab7; }
  .btn-primary-outline:hover:enabled {
    color: #fff;
    background-color: #337ab7; }

.btn-success-outline {
  color: #5cb85c;
  background-color: transparent;
  background-image: none;
  border-color: #5cb85c; }
  .btn-success-outline:hover:enabled {
    color: #fff;
    background-color: #5cb85c; }

.btn-danger-outline {
  color: #d9534f;
  background-color: transparent;
  background-image: none;
  border-color: #d9534f; }
  .btn-danger-outline:hover:enabled {
    color: #fff;
    background-color: #d9534f; }

.btn-warning-outline {
  color: #f0ad4e;
  background-color: transparent;
  background-image: none;
  border-color: #f0ad4e; }
  .btn-warning-outline:hover:enabled {
    color: #fff;
    background-color: #f0ad4e; }

.btn-info-outline {
  color: #5bc0de;
  background-color: transparent;
  background-image: none;
  border-color: #5bc0de; }
  .btn-info-outline:hover:enabled {
    color: #fff;
    background-color: #5bc0de; }
